body {
    /* margin: 0 10% 0 10%; */
    background-color: rgb(0, 0, 0);
}

header, nav, main, footer {
    border: 2px solid black;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    padding: 20px 0px 20px 10px;
    /* border-radius: 50px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
}

nav {
    background-color: rgb(96, 96, 255);
}

a {
   color: rgb(0, 0, 0);
   text-decoration:none;
   margin-left: 40px;
   background-color: #a2d8f7;
   border-radius: 50px;
   padding: 15px;
   transition: all ease-in-out 1s;
   font-family: Arial, Helvetica, sans-serif;
}

a:hover {
 padding: 28px;
}

main {
    padding: 69px;
    font-size: 20px;
    border-radius: 0px;
    background-color: #a2d8f7;
}

footer {
    background-color: rgb(96, 96, 255);
    text-align: center;
    color: white;
}

.icons{
    height: 250px;
    width: 80%;
    border: 0px solid transparent;
    background-color: white;
    border-radius: 5px;
    margin-left: 6%;
    filter: blur(0.2px);
}


/* about */

section {
    margin: 0.5% 0 4% 0;
    border: 0px solid ;
    background-color: rgb(96, 96, 255);
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    padding: 60px;
    backdrop-filter: blur(14px);
    border-radius: 5px;
    border: 0px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all ease-in-out 1s;
    overflow: hidden;
    color: aliceblue;
}

#about {
    font-size: larger;
}

section:hover{
    scale: 1.1;
}

