body {
    font-family: 'Arial', sans-serif;
    background-color: #5e0a26;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    margin: 0;
}

#firstPage , #secondPage{
    height: 100vh;
}

button a {
    text-decoration: none;
    color: white;
}

#firstPage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secondPage{
    padding-top: 3rem;
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0270ff;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset{
    margin-left: 7.4rem;
}

button:hover {
    background-color: #17aa03;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.btns {
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    background-color: #b7babd;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.draw{
    color: red;
}

.success{
    color: rgb(71, 216, 71);
}

#winMessage{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btns:hover {
    background-color: #395d75;
}


.btns:disabled {
    cursor: not-allowed;
    background-color: #bb6645;
    color: #7f8c8d;
}

.x-turn:disabled{
    color: rgb(0, 0, 0);
}

.y-turn:disabled{
    color: white;
}
